<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="7160fc5b-8960-46ff-8f1d-ad8b2a516db6" name="LUISs Conscientious Kangaroo" alias="luiss-conscientious-kangaroo" type="Starter" color="" url="https://www.s1.umbraco.io/project/luiss-conscientious-kangaroo">
  <environment type="live" name="Live" id="5b8008bb-5680-4af3-8a5b-82cd99efcc05">https://luiss-conscientious-kangaroo.s1.umbraco.io</environment>
</environments>